@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Big Shoulders Stencil Text', cursive;
    letter-spacing: 0.1rem;
}

:root
{
    --hover-color: #cdcdcd;
}

p
{
    color: rgb(108 117 125)!important;
}


/*************************************************** NAVBAR CLASS */


a.navbar-brand.animanga
{
    color: #282828;
    font-family: 'Amatic SC', cursive;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.60);
    transition: 0.3s;
    animation: glow 2s linear infinite;
}

.fas, .far, .fab
{
    font-size: 1.4rem;
    transition: 0.4s;
}
.fas:hover, .far:hover, .fab:hover
{
    filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.52));
    transform: scale(1.2);
}


/*************************************************** BANNER CLASS */


section.banner
{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/*************************************************** HOME CLASS */


.home-cards
{
    height: 380px !important;
    border-radius: 15px;
    box-shadow: 2px 2px 15px 2px rgba(127, 127, 127, 0.70),
                -2px -2px 15px 2px rgba(255, 255, 255, 1);
    transition: 0.3s linear;
}

.home-cards:hover
{
    border-radius: 15px;
    box-shadow: 2px 2px 10px 2px rgba(127, 127, 127, 0.90),
    -2px -2px 10px 2px rgba(255, 255, 255, 1);
    transform: translateY(-10px);
}

.js-quote-title {
    color: rgb(243, 243, 243) !important;
}
.js-quote-content
{
    color: rgb(143, 150, 157) !important;
}

.js-quote-author
{
    color: rgb(180, 187, 196) !important;
}


/*************************************************** ANIME SHOW CLASS */


.custom-card
{
    background: #ffffff;
    border-radius: 15px;
    box-shadow:  5px 10px 28px rgba(217, 217, 217, 0.68),
    -5px -10px 28px #ffffff;
}

.anime-custom-bg
{
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.yt-video
{
    width: 100%;
    min-height: 100%;
    border-radius: 15px;
}


/*************************************************** ERROR 404 */


.error__container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__section
{
    max-width: 100%;
    max-height: 100%;
    width: 80vw;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.error__section_title
{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 4rem;
}

.error__section_link
{
    display: block;
    text-align: center;
}


/*************************************************** FOOTER */


.footer
{

}


/*************************************************** MEDIA QUERIES */


@media (min-width: 768px)
{
    .yt-video
    {
        height: 250px;
    }
}



@media (min-width: 576px)
{
    .stats
    {
        margin-bottom: 1.5rem !important;
    }

    .yt-video
    {
        height: 200px;
    }
}


/*************************************************** KEYFRAMES */


@keyframes glow {
    0%,
    100% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.60);
    }

    50% {
        text-shadow: 0 0 2px rgba(255, 0, 0, 0.78);

    }
}
